{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <h3>ID: {{ user.id }}</h3>
            <p>Name: {{ user.username }}</p>
            <p>Age: {{ user.age }}</p>
        </article>
        <br>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for u in users %}
                        <li class="list-group-item">
                            <a href="/users/{{u.id}}"> {{ u.id }}. {{ u.username }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}

